includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/bootstrap.php
        - tests/TestApp/config/app.php
        - tests/TestApp/Application.php
    ignoreErrors:
        - '#Method SignalHandler\\Plugin::bootstrap\(\) has parameter \$app with generic interface Cake\\Core\\PluginApplicationInterface but does not specify its types: TSubject#'
services:
